@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text {

    0%,
    100% {
        color: theme('colors.lightest');
    }

    50% {
        color: theme('colors.light');
    }
}

.animate-text {
    animation: text 3s infinite;
}

.background {
    background-image: url('../resource/media/bg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}